<mat-card class="profile-card">
    <mat-card-header>
      <mat-card-title>{{ user.name }}</mat-card-title>
      <mat-card-subtitle>{{ user.email }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <h3>Articles Written by You</h3>
      <mat-list>
        <mat-list-item *ngFor="let article of user.articles">
          {{ article.title }}
          <button mat-button [routerLink]="['/article', article.id]">View</button>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="editProfile()">Edit Profile</button>
    </mat-card-actions>
  </mat-card>
